.xtab, .xtab tr, .xtab td, .xtab th, .xtab input { border: 0px; padding: 0px; margin: 0px; border-collapse: collapse; }
table.xtab { border: solid 1px gray; }
.xtab td, .xtab th { border: dotted 1px gray; }
.xtab th { background-color: lightgray; font-weight: normal; text-align: center; padding: 0px 10px; }
.xtab input { padding: 3px; width: 100px; }
.xtab input:focus { padding: 2px; border: solid 1px blue; }
